<div class="about row">
    <div class="col-md-12">
       <h2>About </h2>
        <br/>
        <p>我们喜来登集团，成立于1989年，创始至今已有三十几年历史，是一个多元化集团企业，涉及到皮革，商超，化工，石油，房地产，风险投资等领域。
我们集团还与全球资本大鳄保持长期全天候战略合作伙伴关系，有美国摩根集团，美国喜达屋集团，德国拜尔集团，长江实业集团，中国中金集团，央视集团，九鼎投资等。
我们集团2007年从美国引进形体美·康复塑型大健康管理项目，在香港设立技术研究中心，并获得多项国家技术专利， 目前是由杭州福禄健康管理有限公司负责运营。
2009年携手中国五百强企业拜丽德集团在上海成立全球温商俱乐部。
2011年与李嘉诚旗下长江实业合资共同打造安徽巢湖生态度假村，占地12,500亩，是目前占地面积最大、投资最大、涉及范围最广的项目。
目前中国中金集团是作为我们公司的上市推荐人，在IPO排队上市中。
我们喜来登集团一贯的宗旨就是为顾客打造高品质的生活质量，励志创办中国人自己的高端品牌。</p>

        <!-- Comments -->
       <div class="comment">
         {% include comments.html %}
       </div> 

    </div>
</div>
