<section class="footer">
    <footer>
        <div class = "footer_div">  
           <p class="copyright text-muted">
           Theme by <a href="http://leopardpan.github.io/">leopardpan</a>      
             <a href="http://beian.miit.gov.cn" >浙ICP备20019463号</a>     
             <a href="javascript:window.scrollTo(0,0)" >TOP</a>
            </p>
        	<div align="right">
    			<link rel="stylesheet" href="//cdn.bootcss.com/font-awesome/4.3.0/css/font-awesome.min.css">
        </div
        <div>
    </footer>
</section>
